.genForm 
{
    margin: 0 auto; 
    width:90%;
    justify-content: center;
}
.charNameRace, .statPointCount
{
    margin: 1em;
    justify-content: center;
}

.charRace
{
    width: 7em;
}

.charRolesStats,  .charPerksAches
{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    width: auto;
}

.charPerks, .charAches, .charQuirk 
{
    display: flex;
    width: 30em;
    text-align: center;
    justify-content: center;
    margin:auto;
}
.charPoints
{
    margin: 0.5em 1em 1em 1em;
    font-weight: bold;
}

.charStats
{
    margin: 1em;
    align-items: center;
    width: 15em;
}

.charStat 
{
    width:7em;
}

.charRolesContainer, .charQuirks
{
    margin: auto;
    justify-content: center;
    width: auto;
}

.charRolesDescription
 {
     margin: 1em;
     width: auto;
 }

.confirmStats
{
    display: flex;
    margin:1em;
    justify-content: center;
}