.genForm 
{
    margin: 0 auto; 
    width:90%;
}
.charNameRace, .statPointCount
{
    margin: 1em;
    justify-content: center;
}

.charRace
{
    width: 7em;
}

.charPoints 
{
    margin: 0.5em 1em 1em 1em;
    font-weight: bold;
}

.charStats
{
    margin:auto;
    width:7em;
}

.confirmStats
{
    display: flex;
    margin:1em;
    justify-content: center;
}